

p {
  text-align: center;
}
.container {
  background-color: pink;
  text-align: center;
}
.border {
  border: 1px blue solid;
  text-align: center;
}
.bloc3 {
  display: flex;
  order: -1 ;
}
.bloc2 {
  display: flex;
  order: 2;
}
